---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h1 class="category-head">{{ category_name | replace: "-", " " }}</h1>    <!--replace the '-' to ' ', which means category name with more than one words needs to connect with '-' -->
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="recent-posts">
      <p style="line-height: 0.8;"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} </a><small style="position: absolute; right: 40%;">[{{ post.date | date_to_string }}]</small></p>
    </article>
    
    {% endfor %}
    <hr>
  </div>
{% endfor %}
</div>