---
layout: page
permalink: /gallery/
title: Gallery
---


load ok !



<div id="archives">
  <!--
  {% include collectfigscategories.html %} -->        <!-- include file -->

  <!-- Collect the categories under _figs collection (site.figs) -->
  {% assign figs_categories = "" | split: "|" %}

  {% for fig in site.figs %}
    {{fig.title}}
    {{fig.categories}}
    {% for category in fig.categories %}
        {% unless figs_categories contains category %}
            {% assign file_categories = figs_categories | push: category %}
        {% endunless %}
    {% endfor %}
  {% endfor %}

  {% assign site.figs_categories = figs_categories %}
  {{ figs_categories }}
  {{ site.figs_categories }}



  {% for category in site.figs_categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>

      <h1 class="category-head">{{ category_name | replace: "-", " " }}</h1>    <!--replace the '-' to ' ', which means category name with more than one words needs to connect with '-' -->
      <a name="{{ category_name | slugize }}"></a>

      {% for fig in site.figs %}
        {% if fig.categories contains category_name %}
            <article class="recent-posts">
              <p style="line-height: 0.8;"><small>[{{ fig.date | date_to_string }}]</small> &emsp; <a href="{{ site.baseurl }}{{ fig.url }}">{{fig.title}} </a></p>
            </article>
        {% endif %}
      {% endfor %}

      <hr>
    </div>
  {% endfor %}
</div>