---
layout: page
permalink: /gallery/
title: Gallery
description: Here are some brainstorm artworks.
---


{% include collectfigscategories.html %} <!-- include function, to get variables: figs_categories-->


<div id="archives">

  {% for category in figs_categories %}
    <div class="archive-group">

      <h1 class="category-head">{{ category | replace: "-", " " }}</h1>    <!--replace the '-' to ' ', which means category name with more than one words needs to connect with '-' -->

      {% for fig in site.figs %}
        {% if fig.categories contains category %}
            <article class="recent-posts">
              <p style="line-height: 0.8;"><small>[{{ fig.date | date_to_string }}]</small> &emsp; <a href="{{ site.baseurl }}{{ fig.url }}">{{fig.title}} </a></p>
            </article>
        {% endif %}
      {% endfor %}

      <hr>
    </div>

  {% endfor %}

</div>

<br>
<a style="text-decoration:none;" href="{{ '/timeline' | relative_url }}"><h1>Timeline of posts</h1></a>