---
layout: page
title: Home
---


<div align="center">
<!--
<img align='center' src='https://github.com/QiYuan-Zhang/QiYuan-Zhang/assets/53491122/5f581d3f-4533-4ab7-9885-6f78b7082a97' alt="gif" width="400" >
-->
<img align='left' src='/home/IMG_5778.PNG' width='150'>

<img align='right' src='/home/IMG_5777.PNG' width='150'>

<br>

<!--
![IMG_5779](https://github.com/QiYuan-Zhang/QiYuan-Zhang/assets/53491122/5f581d3f-4533-4ab7-9885-6f78b7082a97)
-->
<!--
![Typing SVG](https://readme-typing-svg.herokuapp.com?font=Ubuntu&size=30&color=00C3FF&center=true&lines=-QiYuan-)
-->
<!--
![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=QiYuan-Zhang&count_private=true&show_icons=true&theme=radical)
-->

<h2>Projects</h2>

<p>
  📌 <a href="https://doi.org/10.1016/j.compchemeng.2023.108440">Reduced-order Koopman-based modeling and robust predictive control </a> <br>
  📌 Learning-enabled hybrid modeling and economic model predictive control <br>
  📌 Data-enabled predictive control (DeePC)
</p>

<h2>Methods</h2>
<p>
  🔬 Machine learning based modeling <br>
  🔬 Model predictive control <br>
  🔬 Cross-entropy method
</p>



<h2>Applications</h2>
<p>
  ✨ Reactor-separator process <br>
  ✨ Shipboard post-combustion carbon capture process
</p>


</div>


<br>



<img style='margin-bottom: -3rem' align='left' src='/home/IMG_5775.PNG' width='120'>
<br>
<h1 style='margin-bottom: -2rem'> &ensp; Interesting notes</h1>

<br>
<br>
<br>
<!-- This loops through the paginated posts -->

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post" style="height: 120px; overflow: hidden; margin-bottom: 20px;">
    <p class="post-date" style="margin-bottom: 0px;"> <a class="post-title" href="{{ post.url }}">{{ post.title }}</a></p>
    <span class="post-date" style="margin-bottom: -15px; font-size: 25px;">{{ post.date | date_to_string }}</span>
      {{ post.excerpt }}
  </div>
  {% endfor %}
</div>


<img align='left' src='/home/IMG_5776.PNG' width='150'>



<!-- Pagination links -->
<!--
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}

</div>
-->
  <!-- <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span> -->





