<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.3.1/sha.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js"></script>  <!-- load sha1 function -->
<script type="text/javascript">
    "use strict"
    var textClicked = false

    function textclick() {
        textClicked = true;
        if (textClicked) {
            document.getElementById('protectedContent').innerHTML = `
                <div class="protected">
                    <div class="protected__alert" data-id="alert">Wrong password</div>
                    <div class="protected__content">
                        <h1 class="protected__content__heading">Enter password to continue</h1>
                        <input class="protected__content__input" data-id="password" type="password" placeholder="password"/>
                        <button data-id="button" type="button" class="protected__content__btn" style="text-align: right;">Continue</button>
                    </div>
                </div>
            `;
        }
        var button = document.querySelectorAll('[data-id="button"]')
        var password = document.querySelectorAll('[data-id="password"]')

        function login(secret) {
            var hash = sha1(secret)
            var shaobj = new jsSHA("SHA-256", "TEXT")
            shaobj.update(hash)
            var hash1 = shaobj.getHash("HEX")
            var url = hash1 + "/index.html"
            var alert = document.querySelectorAll('[data-id="alert"]')

            var request = new XMLHttpRequest()
            request.open('GET', url, true)

            request.onload = function () {
                if (request.status >= 200 && request.status < 400) {
                    window.location = url
                } else {
                    // parent.location.hash = hash  /* gives the hash of current input */
                    alert[0].style.display = 'block'
                    password[0].setAttribute('placeholder', 'Incorrect password')
                    password[0].value = ''
                }
            }
            request.onerror = function () {
                /* parent.location.hash = hash */
                alert[0].style.display = 'block'
                password[0].setAttribute('placeholder', 'Incorrect password')
                password[0].value = ''
            }
            request.send()
        }

        button[0].addEventListener("click", function () {
            login(password[0].value)
        })

        document.onkeydown = function (e) {
            e = e || window.event
            if (e.keyCode == 13) {
                login(password[0].value)
            }
        }


    }


</script>

