<!-- Collect the categories under _figs collection (site.figs) -->
{% assign personal_blogs_categories = "" %}

{% for pblog in site.personal_blogs %}
    {% for category in pblog.categories %}
        {% unless personal_blogs_categories contains category %}
            {% assign personal_blogs_categories = personal_blogs_categories | append:category | append:'|' %}
        {% endunless %}
    {% endfor %}
{% endfor %}

{% assign personal_blogs_categories = personal_blogs_categories | split: '|' %}