<!-- Global site tag (gtag.js) - Google Analytics - sets up Google Analytics tracking on the website by loading the necessary library and configuring it with the appropriate property ID. This allows website owners to track various metrics such as pageviews, user interactions, and conversions.-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89141653-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-89141653-4');
</script>
