<!-- Set default sidebar adopted from public/css/hyde.css -->
<div class="sidebar">
  <div class="container sidebar-sticky">                 <!-- sidebar config -->

    <div class="sidebar-title">                          <!-- config of the sidebar in hyde.css -->

      {% if page.url == '/' %}                           <!-- Home page put selfie -->
          <!-- <link rel="selfie" width="400" href="{{ '/' | relative_url }}home/selfie.jpg"> -->
          <img style="display: block; margin: 0 auto;" src="https://github.com/QiYuan-Zhang/QiYuan-Zhang.github.io/assets/53491122/c045a4bd-80af-4032-8f7d-cd006efe4212" width='300'>
      {% else %}
          <img style="display: block; margin: 0 auto;" src="https://github.com/QiYuan-Zhang/QiYuan-Zhang.github.io/assets/53491122/56f4404d-722e-4692-8159-9ee6e407a140" width='200'>
      {% endif %}

      <div style="height: 20px;"></div>                   <!--add blank row -->

      <h1>
          {{ site.title }}
      </h1>

      <!--
      <h1>
        <img align='center' src='https://github.com/QiYuan-Zhang/QiYuan-Zhang/assets/53491122/5f581d3f-4533-4ab7-9885-6f78b7082a97' alt="gif" width="400" >
      </h1>
      -->

      <p class="lead">{{ site.description }}</p>
    </div>


    <nav class="sidebar-nav-new">                              <!--导航设置 config of the sidebar in hyde.css -->
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>

      <!-- Manual set order -->
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/categories' | relative_url }}">Categories</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/gallery' | relative_url }}">Gallery</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/publication' | relative_url }}">Publication</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a>

      <!-- Uncomment for auto order -->
      <!-- {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->

      {% include social_links.html %}

    </nav>

    <p>&copy; {{ site.time | date: '%Y-%m' }}. All rights reserved.</p>
  </div>

</div>
