<!-- Web page default template-->
<!DOCTYPE html>                <!-- define the document type and version of HTML being used -->
<html lang="en-us">            <!-- specifies the language of the content -->

{% include head.html %}                    <!-- include file -->
{% include google_analytics.html %}        <!-- include file -->
{% include collectfigscategories.html %}   <!-- include file -->


  <!-- beginning of the body structure of the html -->
  <body>

    {% include sidebar.html %}         <!-- include file, build the sidebar -->

      {{ content }}

  </body>

</html>
