---
layout: default
---

{% include tablecontentbar.html %} <!-- include file, build the table content bar -->
{% include collectfigscategories.html %} <!-- include function, to get variables: figs_categories -->

<div class="post_content container">    <!-- main content of the page -->

<div class="post">
  <h1 class="post-title-new">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}&nbsp; &nbsp; &nbsp; {{ page.categories | join: ',  ' }}</span>
  {{ content }}
</div>

<span class="post-tags">
    {% for tag in page.tags %}
      <i class="fa fa-tag fa-xs" aria-hidden="true"></i>
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="no-underline" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
</span>



<div class="recent">
  <h1>Recent Posts</h1>
  <ul class="recent-posts">
    {% assign printed_fig_urls = "" %}
    {% assign printed_fig_count = 0 %}
    {% assign current_categories = page.categories %}
    {% assign sorted_figs = site.figs | sort: 'date' | reverse %}

    {% for fig in sorted_figs %}
      {% unless fig.url == page.url or printed_fig_count >= 3 %}
        {% assign match_found = false %}
        {% for category in fig.categories %}
          {% if current_categories contains category %}
            {% assign match_found = true %}
          {% endif %}
        {% endfor %}
        {% if match_found %}
          <li>
            <p style="line-height: 0.2;"><small>[{{ fig.date | date_to_string }}]</small> <a href="{{ fig.url }}">{{ fig.title }}</a></p>
          </li>
          {% assign printed_fig_urls = printed_fig_urls | append: fig.url | append: "|" %}
          {% assign printed_fig_count = printed_fig_count | plus: 1 %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<!-- Add disqus comment if page.comments is true -->
{% if page.comments %}
  {% include disqus_comment.html %}
{% endif %}

<p>-------</p>
<script id="dsq-count-scr" src="//qiyuan.disqus.com/count.js" async></script>

</div>
