---
layout: default
---

{% include tablecontentbar.html %} <!-- include file, build the table content bar -->
<div class="post_content container">    <!-- main content of the page-->

<div class="post">
  <h1 class="post-title-new">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}&nbsp; &nbsp; &nbsp; {{ page.categories | join: ',  ' }}</span>
  {{ content }}
</div>

<span class="post-tags">
    {% for tag in page.tags %}
      <i class="fa fa-tag fa-xs" aria-hidden="true"></i>
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="no-underline" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
</span>

<div class="recent">
  <h1>Recent Posts</h1>
  <ul class="recent-posts">
    {% for post in site.related_posts limit:3 %}
      <p style="line-height: 0.2;"><small>[{{ post.date | date_to_string }}]</small> <a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endfor %}
  </ul>
</div>
</div>

<!--
{%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
{%- endif -%}
-->


