---
layout: default
---

{% include tablecontentbar.html %} <!-- include file, build the table content bar -->
{% include collectshotscategories.html %} <!-- include function, to get variables: shots_categories -->

<div class="post_content container">    <!-- main content of the page -->

<div class="post">
  <h1 class="post-title-new">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}&nbsp; &nbsp; &nbsp; {{ page.categories | join: ',  ' }}</span>

    {{ content }}

</div>

<span class="post-tags">
    {% for tag in page.tags %}
      <i class="fa fa-tag fa-xs" aria-hidden="true"></i>
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="no-underline" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
</span>



<div class="recent">
  <h1>Recent Posts</h1>
  <ul class="recent-posts">
    {% assign printed_shot_urls = "" %}
    {% assign printed_shot_count = 0 %}
    {% for shot in site.shots %}
      {% unless shot.url == page.url or printed_shot_count >= 3 %}
        {% assign match_found = false %}
        {% for category in page.categories %}
          {% if shot.categories contains category %}
            {% assign match_found = true %}
          {% endif %}
        {% endfor %}
        {% if match_found %}
          <li>
            <p style="line-height: 0.2;"><small>[{{ shot.date | date_to_string }}]</small> <a href="{{ shot.url }}">{{ shot.title }}</a></p>
          </li>
          {% assign printed_shot_urls = printed_shot_urls | append: shot.url | append: "|" %}
          {% assign printed_shot_count = printed_shot_count | plus: 1 %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</div>


<!--
{%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
{%- endif -%}
-->

</div>
